In [1]:
from sklearn.linear_model import LogisticRegression # Logistic Regression
from sklearn.neighbors import KNeighborsClassifier # K-Nearest Neighbbors
from sklearn.tree import DecisionTreeClassifier # Decision Tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

C:\Users\yashs\anaconda3\envs\pyproject\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\yashs\anaconda3\envs\pyproject\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\yashs\anaconda3\envs\pyproject\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler
import joblib

In [3]:
encoded_df=pd.read_csv("preprocess.csv")

In [4]:
selected_col = ['NRCH17_2','IRHH65_2','GRPHLTIN','HLTINNOS','HLCLAST','IRMEDICR',
               'IRPRVHLT','IROTHHLT','IRFAMSOC','IRPINC3','POVERTY3','Criminal']
selected_col

['NRCH17_2',
 'IRHH65_2',
 'GRPHLTIN',
 'HLTINNOS',
 'HLCLAST',
 'IRMEDICR',
 'IRPRVHLT',
 'IROTHHLT',
 'IRFAMSOC',
 'IRPINC3',
 'POVERTY3',
 'Criminal']

In [5]:
encoded_df=encoded_df[selected_col]

In [6]:
encoded_df

,NRCH17_2,IRHH65_2,GRPHLTIN,HLTINNOS,HLCLAST,IRMEDICR,IRPRVHLT,IROTHHLT,IRFAMSOC,IRPINC3,POVERTY3,Criminal
0,2.0,1.0,99.0,99.0,99.0,2.0,2.0,99.0,2.0,1.0,2.0,0
1,1.0,1.0,1.0,99.0,99.0,2.0,1.0,99.0,2.0,1.0,1.0,1
2,1.0,1.0,99.0,99.0,99.0,2.0,2.0,99.0,1.0,2.0,1.0,0
3,0.0,1.0,1.0,99.0,99.0,2.0,1.0,99.0,2.0,7.0,3.0,0
4,0.0,1.0,99.0,99.0,99.0,2.0,2.0,99.0,2.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45713,1.0,1.0,99.0,2.0,5.0,2.0,2.0,2.0,2.0,4.0,2.0,0
45714,0.0,2.0,99.0,99.0,99.0,1.0,2.0,99.0,1.0,2.0,3.0,0
45715,0.0,2.0,99.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,0
45716,0.0,1.0,99.0,1.0,99.0,2.0,2.0,1.0,2.0,4.0,3.0,0
45717,0.0,1.0,1.0,99.0,99.0,2.0,1.0,99.0,2.0,6.0,3.0,0

In [7]:
to_scale = [col for col in encoded_df.columns if encoded_df[col].max()>1]
scaler = RobustScaler()
scaled =scaler.fit_transform(encoded_df[to_scale])
scaled = pd.DataFrame(scaled, columns=to_scale)

In [8]:
NRCH17_2='0'
IRHH65_2='1'
GRPHLTIN='1'
HLTINNOS='99'
HLCLAST='99'
IRMEDICR='2'
IRPRVHLT='1'
IROTHHLT='99'
IRFAMSOC='2'
IRPINC3='1'
POVERTY3='2'

In [9]:
data = {'NRCH17_2': float(NRCH17_2),
        'IRHH65_2': float(IRHH65_2),
        'GRPHLTIN': float(GRPHLTIN),
        'HLTINNOS': float(HLTINNOS),
        'HLCLAST': float(HLCLAST),
        'IRMEDICR': float(IRMEDICR),
        'IRPRVHLT': float(IRPRVHLT),
        'IROTHHLT': float(IROTHHLT),
        'IRFAMSOC': float(IRFAMSOC),
        'IRPINC3': float(IRPINC3),
        'POVERTY3': float(POVERTY3)}

# Creating DataFrame from the dictionary
df=pd.DataFrame(data,index=[0])

In [10]:
df2=scaler.transform(df[to_scale])    
df2=pd.DataFrame(df2,columns=to_scale)

In [11]:
df2

,NRCH17_2,IRHH65_2,GRPHLTIN,HLTINNOS,HLCLAST,IRMEDICR,IRPRVHLT,IROTHHLT,IRFAMSOC,IRPINC3,POVERTY3
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.333333,-1.0

In [12]:
model_filename1 = "models/RandomForestClassifier_Classify_model.joblib"
print(model_filename1)
loaded_model1 = joblib.load(model_filename1)
new_predictions = loaded_model1.predict(df2)

models/RandomForestClassifier_Classify_model.joblib

In [13]:
new_predictions

array([1], dtype=int64)